
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 80%;
}

:root {
  --primary-color: #1c2833;
  --secondary-color: #fff;
  --bg-color: #f2f3f4;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  font-weight: 900;
}

.wrapper h1 {
  font-size: 4.2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}
* {
  box-sizing: border-box;
}

/* Add padding to container elements */
.wrapper .container {
  padding: 20px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}

/* Full-width input fields */
.wrapper input[type="text"],
.wrapper input[type="email"],
.wrapper input[type="password"],
.wrapper textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.wrapper input[type="phone"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
}

.wrapper input[type="text"]:focus,
.wrapper input[type="password"]:focus,
.wrapper  input[type="phone"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.wrapper  button {
  background-color: #0eb7f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.wrapper button:hover {
  opacity: 1;
}

.wrapper span {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0.6rem;
  color: #0eb7f4;
}
.wrapper label,
.wrapper p {
  font-size: 1.6rem;
}
.wrapper p {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .wrapper .signupbtn {
    width: 100%;
  }
}
